:root {
    --light-primary: #8981d8;
    --dark-primary: #8965DC;
}
.mt-40 {
    margin-top: 40px;
}
.mt-50 {
    margin-top: 50px;
}
.mb-20 {
    margin-bottom: 20px;
}
/* HEADER */
h1.text-logo {
    color:#fff;
    margin-bottom: 0px;
}
/* END HEADER */

/* BREADCRUMBS */
.breadcrumbs {
    margin-bottom: 30px;
}
.breadcrumbs-content {
    padding: 20px 20px;
    background: #fff;
}
.breadcrumbs-link {
    text-align: right;
}
.breadcrumbs-link a, .breadcrumbs-link i{
    color: #333;
}
.breadcrumbs-link a:hover {
    color: var(--light-primary);
}
.breadcrumbs-link b {
    color: var(--dark-primary);
} 
.header-btn button {
    width: 100%;
    margin: 10px auto;
    padding: 10px;
}
/* END BREADCRUMBS */
.datepicker-days .table-condensed thead tr {
    background: var(--dark-primary);
    color: #fff;
}
.datepicker-days .table-condensed thead tr:last-child {
    background: var(--light-primary);
    height: 40px;
}
.bootstrap-select.btn-group .dropdown-menu {
    top: 93%;
}
.bootstrap-select .dropdown-toggle:focus {
    outline: none !important;
    outline-offset: 0;
    border-bottom: 1px solid #8981d8;
}

.btn-primary {
    color: #fff;
    background-color: var(--dark-primary);
    border-color: var(--dark-primary);
}

.btn-primary:hover {
    color: #fff;
    background-color: var(--light-primary);
    border-color: var(--light-primary);
}

/* TABLE */
table.dataTable.no-footer {
    border-bottom: none;
}
/* END TABLE */

/* SECTION */
.section-content {
    background:#fff;
    padding:20px;
}
/* END SECTION */
h3.title {
    position: relative;
    text-transform: uppercase;
    margin-bottom: 25px;
}
h4.title-header {
    position: relative;
    text-transform: uppercase;
    margin-bottom: 25px;
    width: fit-content;
}
h4.title-header::after {
    content: "";
    width: 100%;
    height: .2em;
    background: #8981d8;
    position: absolute;
    top: 20px;
    left: 0;
    margin: 0 auto;
}
.divider-left {
    border-right: 1px solid #c8c8c8;
}
.empty-div {
    height: 45px;
}

@media(max-width:767px) {
    .divider-left {
        border-right: none;
    }
    .empty-div {
        height: 0px;
    }

}

@media (min-width:768px) and (max-width:991px) {
    .title-header-md {
        margin-bottom: 45px !important;
    }
    .empty-div {
        height: 65px;
    }
    h4.title-header::after {
        display: none;
    }
    
}